<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sendafiletohttp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d7017a0d-6e07-4c1d-83bc-cef47adb27b4/resourcegroups/cpb-aue-sand-ken-rg01/providers/Microsoft.Web/sites/sendafiletohttp</ResourceId>
    <UserName>$sendafiletohttp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sendafiletohttp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>